<div class="container" >
    <div class="main" >    
        <div class="login-left">
            <div class="login-left-logo">
                <img src="../../assets/Apple Spot logo.png" alt="">
            </div>
            <div class="login-page-content">
                <div class="login-title">
                    <p>LogIn</p>
                </div>
                <div class="login-body">
                    <div class="email">
                        <label for="">Email</label><br>
                        <input type="text">
                    </div>
                    <div class="password">
                        <label for="">Password</label><br>
                        <input type="password">
                    </div>
                    <div class="forget-password">
                        <p><a href="#">Forget Your Password?</a></p>
                    </div>
                    <div class="login-btn">
                        <button>LogIn</button>
                    </div>
                    <div class="or" style="display: flex;gap: 1px;margin: 0;">
                        <hr>or<hr>
                    </div>
                    <div class="google-authentication">
                        <button><img src="../../assets/google.png" alt="">Continue with Google</button>
                    </div>
                    <div class="new-sign-up">
                        New to Apple Spot? <a href="#">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-right">
            <div>
                <img src="../../assets/Illustration Login.png" alt="">
            </div>
        </div>
    </div>
</div>