<div class="container" >
    <div class="main" >    
        <div class="sign-up-left">
            <div class="sign-up-left-logo">
                <img src="../../assets/Apple Spot logo.png" alt="">
            </div>
            <div class="sign-up-page-content">
                <div class="sign-up-title">
                    <p>Create an account</p>
                </div>
                <div class="sign-up-body">
                    <div class="name">
                        <label for="">Your name</label><br>
                        <input type="text">
                    </div>
                    <div class="email">
                        <label for="">Email</label><br>
                        <input type="text">
                    </div>
                    <div class="password">
                        <label for="">Password</label><br>
                        <input type="password">
                    </div>
                    <div class="password-strength">
                        <p>Between 8 and 72 characters</p>
                    </div>
                    <div class="sign-up-btn">
                        <button>Sign-up</button>
                    </div>
                    <div class="or" style="display: flex;gap: 1px;margin: 0;">
                        <hr>or<hr>
                    </div>
                    <div class="google-authentication">
                        <button><img src="../../assets/google.png" alt="">Continue with Google</button>
                    </div>
                    <div class="new-sign-up">
                        Already have an account? <a href="#">Log-in</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sign-up-right">
            <div>
                <img src="../../assets/Illustration Login.png" alt="">
            </div>
        </div>
    </div>
</div>